{% extends 'base.html' %}

{% block body %}
<table class="content-table">
    <thead>
      <tr>
        <th>Message</th>
        <th>Shift</th>
      </tr>
    </thead>
    <tbody>
    {% for mess, shift, time  in messages %}
      <tr>
        <td>{{ mess }}</td>
        <td>{{ shift }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <form class="upload-file-form" action = "/upload" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
  </form>
  <button type="submit" class="btn"><a href="/download">SAVE TO JSON</a></button>
  <button type="submit" class="btn"><a href="/">MAIN</a></button>
{% endblock %}
